/.idea/
/exercise_2/task5/bottleneck/scenarios/*_edited.json
/exercise_2/task5/log.out
/exercise_2/task5/bottleneck/output/GNM/prediction/
/exercise_2/task5/bottleneck/output/OSM/prediction/
/build/
*/.DS_Store
.DS_Store
/exercise_4/mnist/
/exercise_4/vae_generated/